.button {
    color: white;
    background-color: #202020;
    cursor: pointer;
    
}

.mat-raised-button {
    border-radius: 0px;
}
.mat-raised-button:not([class*="mat-elevation-z"]) {
    box-shadow: none;
}
