.large-frame__container {
    &-card {
        padding: 0;
        margin: 10px;
        background-color: #333333;
        box-shadow: 5px 5px black;
    }
}

.large-frame__card-header {
    display: flex;
    justify-content: space-between;
    background-color: #202020;
    color: white;
    min-height: 40px;
    &-title {
        font-size: 20px;
        margin-left: 30px;
        margin-top: 10px;
    }
}
.large-frame__header-info {
    display: flex;
    margin: 10px 20px 0px 30px;
    .info-item {
        display: flex;
        margin-left: 10px;
    }
    .info-icon {
        margin-right: 4px;
    }
    &-statistic {
        color: #f4c430;
        .info-icon {
            margin-top: -3px;
        }
    }
    &-comments {
        .info-icon {
            margin-top: -2px;
        }
    }
}

.large-frame__card-content {
    display: flex;
        &-img {
            justify-content: center;
            min-width: 250px!important;
        }
        &-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 20px 20px 0px 20px;
            color: white;
        }
}

.large-frame__card-content-feature {
    display: flex;
    margin: 10px 0px;
    .feature_element {
        display: flex;
        font-size: 12px;
    }
    .feature_title {
        margin-right: 3px;
        margin-bottom: 2px;
        color: #bfbfbf;
    }
    &-column_1 {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
    }
    &-column_1 {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
    }
}

.large-frame__card-content-sub_info {
    display: flex;
    justify-content: space-between;
    &-uploaded {
        display: flex;
        .added_title {
            margin-right: 5px;
        }
        .slash {
            margin-right: 5px;
            margin-left: 5px;
        }
    }
}

@media (max-width: 1000px) {
    .large-frame__card-content {
        flex-direction: column;
    }

    .large-frame__card-content-img {
        margin: auto;
    }
}

@media (max-width: 560px) {
    .large-frame__header-info {
        flex-direction: column;
    }

    .large-frame__card-header-title {
        font-size: 18px;
        margin-left: 5px;
        margin-top: 5px;
    }

    .info-item {
        margin-bottom: 10px;
    }

    .large-frame__card-content-feature {
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 320px) {
    .large-frame__container-card {
        margin-left: 0px;
        margin-right: 0px;
    }
}