mat-icon {
    color: #ffffff;
    margin-right: 10px;
    margin-top: 7px;
};

input {
    color: white;
    max-width: 100%;
}

.firstForm {
    &-field-1 {}
    &-field-2 {}
    &-login_buttons {
        .btn_login {
            background-color: #00a550;
            color: white;
        }
        .btn_register {
            background-color: #f4c430;
            mat-icon {
                margin: 0;
                margin-left: 10px;
                margin-bottom: 5px;
                vertical-align: middle;
            }
        }
        span {
            font-size: 12px;
        }
        .pass_recovery {
            a {
                margin-top: 5px;
                text-decoration: underline;
                font-size: 12px;
                color: white;
                cursor: pointer
            }
        }
    }
}
.secondForm {
    &-field_1 {}
    &-field_2 {margin-top: 30px;}
    &-pass_group {
        &-field_1 {
            width: 100%;
        }
        &-field_2 {
            width: 100%;
        }
    }
    &-login_buttons {
        button {
            background-color: #00a550;
            color: white;
        }
        p {
            a {
                margin-top: 5px;
                text-decoration: underline; 
                font-size: 12px; 
                color: white;
                cursor: pointer
            }
        }
    }
}
