<form class="firstForm example-form" *ngIf="!selectedForm"
    novalidate
    [formGroup]="loginForm"
    (submit)="onLoginSubmit()"
    fxLayout="column"
    fxLayoutAlign="space-around none"
    style="margin: 220px 10px 0px 10px;"
    >
    <mat-form-field class="firstForm-field_1 example-full-width input-field">
        <mat-icon matSuffix svgIcon="email"></mat-icon>
        <input type="text" matInput placeholder="E-mail" formControlName="email">
    </mat-form-field>
    <mat-form-field class="firstForm-field_2 example-full-width">
        <mat-icon matSuffix svgIcon="pass"></mat-icon>
        <input type="password" matInput placeholder="Пароль" formControlName="password">
    </mat-form-field>
    <div class="firstForm-login_buttons" fxLayout="column" fxLayoutAlign="space-between none">
        <button class="btn_login" mat-raised-button type="submit">Вход</button>
        <span fxLayoutAlign="center" style="margin: 10px 0px 10px 0px; color: white;">или</span>
        <button class="btn_register" mat-raised-button (click)="toggleForm()" style="cursor: pointer;">Заргистрироваться
            <mat-icon matSuffix svgIcon="gift1"></mat-icon>
        </button>
        <p class="pass_recovery" fxLayoutAlign="start" style="margin-top: 8px;">
            <a>Восстановить пароль</a>
        </p>
    </div>
</form>

<form class="secondForm example-form" *ngIf="selectedForm"
    novalidate
    [formGroup]="registerForm"
    (submit)="onRegisterSubmit()"
    fxLayout="column"
    fxLayoutAlign="space-around none"
    style="margin: 108px 10px 0px 10px;"
    >
    <mat-form-field class="secondForm-field_1 example-full-width" style="margin-bottom: 30px;">
        <mat-icon matSuffix>person</mat-icon>
        <input type="text" matInput placeholder="Nickname" formControlName="nickname">
        <mat-hint style="color: white;">Ник, он же никнейм, произошел от английского слова nickname и переводится как "прозвище".</mat-hint>
    </mat-form-field>
    <mat-form-field class="secondForm-field_2 example-full-width">
        <mat-icon matSuffix svgIcon="email"></mat-icon>
        <input type="text" matInput placeholder="E-mail" formControlName="email">
    </mat-form-field>
    <div class="secondForm-pass_group form-group" formGroupName="password">
        <mat-form-field class="secondForm-pass_group-field_1 example-full-width">
            <mat-icon matSuffix svgIcon="pass"></mat-icon>
            <input type="password" matInput placeholder="Пароль" formControlName="pwd">
        </mat-form-field>
        <mat-form-field class="secondForm-pass_group-field_2 example-full-width">
            <mat-icon matSuffix svgIcon="pass"></mat-icon>
            <input type="password" matInput placeholder="Пароль еще раз" formControlName="confirm">
        </mat-form-field>
    </div>
    <div class="secondForm-login_buttons" fxLayout="column" fxLayoutAlign="space-between none">
        <button type="submit" mat-raised-button style="cursor: pointer;">Заргистрироваться</button>
        <p fxLayoutAlign="start" style="margin-top: 8px;">
            <a (click)="toggleForm()">Вход</a>
        </p>
    </div>
</form>