<div
  class="content-sidebar"
  fxLayout="column">
  <div class="content-sidebar-title">
    <h4>
      <ng-content select="[sidebar-title]"></ng-content>
    </h4>
  </div>
  <div class="content-sidebar-add">
      <button mat-raised-button>
      <mat-icon matSuffix svgIcon="archive"></mat-icon>
      Добавить</button>
  </div>
  <div class="content-sidebar-rating">
    <mat-card>
      <div class="assessment">
        <div fxLayout fxLayoutAlign="center none">
          <h1>
            <ng-content select="[assessment-integer]"></ng-content>
          </h1>
          <h3>
            <ng-content select="[assessment-fractional]"></ng-content>
          </h3>
        </div>
        <p>
          <ng-content select="[assessment-title]"></ng-content>
        </p>
      </div>
      <div class="rating">
        <p class="imdb" fxLayout>
          <span>IMDB:</span>
          <ng-content select="[imdb-rating]"></ng-content>
        </p>
        <p class="kinopoisk" fxLayout>
          <span>Кинопоиск:</span>
          <ng-content select="[kinopoisk-rating]"></ng-content>
        </p>
      </div> 
    </mat-card>
  </div>
  <div class="content-sidebar-graphic">
    <app-d3-bar-chart></app-d3-bar-chart>
  </div>
  <div fxLayout="column" class="content-sidebar-info">
    <div class="content-sidebar-info-title">
      <h4>
        <ng-content select="[info-title]"></ng-content>
      </h4>
    </div>
    <div class="content-sidebar-info-type">
      <p fxLayout>
        <span>Тип:</span>
        <ng-content select="[info-type]"></ng-content>
      </p>
    </div>
    <div class="content-sidebar-info-year">
      <p fxLayout> 
        <span>Год:</span>
        <ng-content select="[info-year]"></ng-content>
      </p>
    </div>
    <div class="content-sidebar-info-release">
      <p fxLayout>
        <span>Дата выпуска:</span>
        <ng-content select="[info-release]"></ng-content>
      </p>
    </div>
    <div class="content-sidebar-info-country">
      <p fxLayout>
        <span>Страна:</span>
        <ng-content select="[info-country]"></ng-content>
      </p>
    </div>
    <div class="content-sidebar-info-series">
      <p fxLayout>
        <span>Количество серий:</span>
        <ng-content select="[info-series]"></ng-content>
      </p>
    </div>
    <div class="content-sidebar-info-duration">
      <p fxLayout>
        <span>Продолжительность:</span>
        <ng-content select="[info-duration]"></ng-content>
      </p>
    </div>
    <div class="content-sidebar-info-russian__title">
      <p fxLayout>
        <span>По-русски:</span>
        <ng-content select="[info-russian-title]"></ng-content>
      </p>
    </div>
    <div class="content-sidebar-info-english__title">
      <p fxLayout>
        <span>По-английски:</span>
        <ng-content select="[info-english-title]"></ng-content>
      </p>
    </div>
    <div class="content-sidebar-info-japanese__title">
      <p fxLayout>
        <span>По-японски (Оригинал):</span>
        <ng-content select="[info-japanese-title]"></ng-content>
      </p>
    </div>
    <div class="content-sidebar-info-producer">
      <ng-content select="[info-producer]"></ng-content>
      <p fxLayout>
        <span>Режисер:</span>
        <ng-content select="[info-producer]"></ng-content>
      </p>
    </div>
    <div class="content-sidebar-info-screenwriter">
      <p fxLayout>
        <span>Сценарист:</span>
        <ng-content select="[info-screenwriter]"></ng-content>
      </p>
    </div>
    <div class="content-sidebar-info-tag">
      <p fxLayout>
        <span>Слоган:</span>
        <ng-content select="[info-tag]"></ng-content>
      </p>
    </div>
    <div class="content-sidebar-info-budget">
      <p fxLayout>
        <span>Бюджет:</span>
        <ng-content select="[info-budget]"></ng-content>
      </p>
    </div>
  </div>
</div>