mat-icon {
    color: #ffffff !important;
}

@mixin info_margin {
    p {
        margin-top: 2px;
        margin-bottom: 2px;
    }
}

.content-sidebar {
    min-width: 242px;
    &-title {
        background-color: #202020;
        min-height: 40.5px;
        h4 {
            margin-top: 6px;
            margin-bottom: 6px;
            text-align: center;
            font-size: 24px;
            color: white;
        }
    }
    &-add {
        max-height: 37px;
        button {
            width: 100%;
            background-color: #00a550;
            color: white;
            font-size: 14px;
            mat-icon {
                height: 20px;
                width: 20px;
                margin-bottom: 10px;
            }
        }
    }
    &-rating {
        mat-card {
            background-color: #202020;
            color: white;
            margin: 10px 20px 10px 20px;
            padding: 0;
            min-height: 150px;
            text-align: center;
            box-shadow: 4px 4px black;
            .assessment {
                h1 {
                    margin-top: 20px;
                    font-size: 80px;
                }
                h3 {
                    margin-top: 38px;
                    font-size: 35px;
                }
                p {
                    margin: 0;
                    font-size: 14px;
                }
                
            }
            .rating {
                font-size: 11px;
                text-align: start;
                margin-top: 15px;
                .imdb {
                    margin: 0;
                    margin-left: 10px !important;
                    span {
                        margin-right: 5px;
                    }
                }
                .kinopoisk {
                    margin: 0;
                    margin-left: 10px !important;
                    padding-bottom: 2px !important;
                    span {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    &-graphic {
        max-width: 300px;
    }
    &-info {
        color: white;
        margin-left: 5px;
        font-size: 11px;
        span {
            margin-right: 2px;
        }
        &-title {
            background: #202020; 
            background: linear-gradient(to right, #202020, #545454);
            margin-left: -5px !important;
            h4 {
                margin: 5px 0px 5px 5px;
                font-size: 14px;
            }
        }
        &-type {
            @include info_margin;
        }
        &-year {
            @include info_margin;
        }
        &-release {
            @include info_margin;
        }
        &-country {
            @include info_margin;
        }
        &-series {
            @include info_margin;
        }
        &-duration {
            @include info_margin;
            margin-bottom: 15px;
        }
        &-russian__title {
            @include info_margin;
        }
        &-english__title {
            @include info_margin;
        }
        &-japanese__title {
            @include info_margin;
            margin-bottom: 15px;
        }
        &-producer {
            @include info_margin;
        }
        &-screenwriter {
            @include info_margin;
        }
        &-tag {
            @include info_margin;
        }
        &-budget {
            @include info_margin;
        }

    }
}