<form novalidate>
    <div class="profile-security">
        <mat-card>
            <mat-card-title>Безопасность:</mat-card-title>
            <div class="activity">
                <p class="activity__text">
                    Последняя активность:
                    <span>57 минут назад (Беларусь, Минск)</span>
                </p>
                <app-button [title]="'Завершить все сеансы'" [type]="'secondary'"></app-button>
            </div>
            <mat-card-title>Sessions:</mat-card-title>
            <mat-card-content>
                <app-info *ngFor="let data of securityData" [infoData]="data"></app-info>
            </mat-card-content>
        </mat-card>
    </div>
</form>


