@mixin expansion-panel {
    text-align: center;
    background-color: transparent;
}

.catalogs-panel {
    &__external-panel {
        @include expansion-panel;
        &.mat-expansion-panel:not([class*=mat-elevation-z]) {
            box-shadow: none;
        }
        &-header {
            display: flex;
            max-height: 35px;
            margin-left: 5px;
            padding-right: 0;
            box-shadow: 5px 5px #111111;
            background-color: #252525;

            &.mat-expanded:hover,
            &.mat-expanded:focus {
                background-color: #252525;
            }
            
        }
        &-title {
            justify-content: space-between;
            color: #fff;
            margin-right: 10px;
        }
        &.mat-expansion-panel:not(.mat-expanded) {
            .mat-expansion-panel-header:not([aria-disabled='true']):hover {
                background-color: #252525;
            }
        }
        /deep/ .mat-expansion-panel-content {
            margin-top: 15px;
    
            .mat-expansion-panel-body {
                padding: 0;
            }
        }
    }

    &__genres-panel{
        @include expansion-panel;
        &.mat-expansion-panel:not([class*=mat-elevation-z]) {
            box-shadow: none;
        }
        &-header {
            width: 100%;
            max-height: 30px;
            padding: 0px 0px 38px 10px;
            background-color: #252525;
            cursor: pointer;
        }
        &-title {
            display: flex;
            justify-content: space-between;
            color: white;
        }
        /* [ngClass]-class for special genres */
        .header-background {
            background-color: #019A99!important;
        }       
    }

    &__subgenres-list{
        display: flex;
        flex-direction: column;
        text-align: start;
        margin-top: 15px;
        color: #fff;
        &-button {
            max-width: 204px;
            width: 100%;
            padding-left: 10px;
            background-color: #252525;
        }
        &-title {
            display: flex;
            justify-content: space-between;
        }
    }
}

.catalogs-panel__icon {
    width: 13px;
    height: 13px;
}
