<mat-accordion class="additional-panel">
  <mat-expansion-panel class="additional-panel__external-panel" [expanded]="panelType.isExpanded" (opened)="panelType.isExpanded = true" (closed)="panelType.isExpanded = false">
    <mat-expansion-panel-header class="additional-panel__external-panel-header">
      <mat-panel-title class="additional-panel__external-panel-title">
        <mat-icon class="additional-panel__external-panel-title-icon" svgIcon="{{panelType.isExpanded  ? 'check-empty-' : 'check-empty+' }}" ></mat-icon>
        <span class="additional-panel__external-panel-title-heading">{{panelType.title}}</span> 
      </mat-panel-title>
    </mat-expansion-panel-header>


    <div class="additional-panel__items">
      <ng-container *ngFor="let item of panelType.content; let i = index">
        <mat-checkbox
          class="additional-panel__items-checkbox"
          (click)="changeSelector(panelType.title, item.selector, i)"
          [(ngModel)]="item.isEnabled"
          [matTooltip]="getTooltip(item.title)"
          [matTooltipPosition]="'right'"
          [matTooltipShowDelay]="'5000'">
          <span class="additional-panel__items-checkbox-title">{{item.title}}</span>
          <mat-icon class="additional-panel__items-checkbox-title-icon" svgIcon="{{item.selector}}" ></mat-icon>
        </mat-checkbox>
      </ng-container>
    </div>

  </mat-expansion-panel>
</mat-accordion>