.profile-card {
    margin: 30px 30px 30px 30px;
    background-color: #333333;
    &-title {
        color: white;
    }
}

@media (max-width: 420px) {
    .profile-card {
        margin: 30px 0px 30px 0px;
    }
}
