<div class="container mat-typography">
    <app-header></app-header>
    <div fxLayout fxLayoutAlign="start none">
        <div fxFlex="none">
            <app-side-bar></app-side-bar>
        </div>
        <div fxFlex>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
