<div class="profile-password">
  <form [formGroup]="passForm">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Изменить пароль</mat-card-title>
      </mat-card-header>
        <app-simpe-input formControlName="oldPass" [placeholder]="'Старый пароль:'" [type]="'password'"></app-simpe-input>
        <app-simpe-input formControlName="newPass" [placeholder]="'Новый пароль:'" [type]="'password'"></app-simpe-input>
        <app-simpe-input formControlName="repeatPass" [placeholder]="'Повторите пароль:'" [type]="'password'"></app-simpe-input>
    </mat-card>
  </form>
</div>

