.profile-password {
  .mat-card {
    display: flex;
    flex-direction: column;
    margin: 30px 30px 30px 30px;
  }
}

@media (max-width: 420px) {
  .mat-card {
      margin: 30px 0px 30px 0px;
  }
}