<div class="profile-avatar">
    <mat-card class="profile-avatar-card" fxLayout="column" fxLayoutAlign="space-between none" fxLayout.xs="column">
      <div class="profile-avatar-card-title">
        <h4>Аватар</h4>
      </div>
      <div>
          <app-avatar></app-avatar>
      </div>
    </mat-card>
</div>