.profile-avatar {
    padding-right: 0px;
    &-card {
        margin: 30px 30px 30px 30px;
        background-color: #333333;
        &-title {
            h4 {
                margin-top: 0;
                color: white;
            }
        }
    }
}

@media (max-width: 420px) {
    .profile-avatar-card {
        margin: 30px 0px 30px 0px;
    }
}
