<div class="side-bar-container"  fxLayout="column">
  <div class="side-bar-menu">
    <mat-sidenav-container [ngClass]="{'side-bar-container--open': openSide}">
      <mat-sidenav #start [mode]="mode">
        <div class="side-bar-inner" *ngIf="user">
          <div class="side-bar-inner-avatar">
            <img src="http://legionportal.hol.es/img/left-blockgirl.png" alt="" class="side-bar-inner-avatar__img">
            <p class="side-bar-inner-avatar__name">
              Sanqa
              <span class="side-bar-inner-avatar__name--online"></span>
            </p>
          </div>
          <div class="side-bar-inner-home" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-icon (click)="start.close('mouse'); handleClickOpen()" class="side-bar-inner-home--arrow" svgIcon="chevronLeft"></mat-icon>
            <mat-icon class="side-bar-inner-home--home" svgIcon="home"></mat-icon>
          </div>
          <div class="side-bar-inner-notif">
            <div class="side-bar-inner-notif-item" fxLayout="row" fxLayoutAlign="start center">
              <span class="side-bar-inner-notif-item__number side-bar-inner-notif-item__number--msg">20</span>
              <a href="" class="side-bar-inner-notif-item__text">Сообщения</a>
            </div>
            <div class="side-bar-inner-notif-item" fxLayout="row" fxLayoutAlign="start center">
              <span class="side-bar-inner-notif-item__number side-bar-inner-notif-item__number--answer">1</span>
              <a href="" class="side-bar-inner-notif-item__text">Ответы</a>
            </div>
            <div class="side-bar-inner-notif-item" fxLayout="row" fxLayoutAlign="start center">
              <span class="side-bar-inner-notif-item__number side-bar-inner-notif-item__number--news">46322</span>
              <a href="" class="side-bar-inner-notif-item__text">Новости</a>
            </div>
          </div>
          <span class="side-bar-inner-notif__line"></span>
          <div class="side-bar-inner-notif">
            <div class="side-bar-inner-notif-item" fxLayout="row" fxLayoutAlign="start center">
              <a href="" class="side-bar-inner-notif-item__text">Вакансии</a>
            </div>
            <div class="side-bar-inner-notif-item" fxLayout="row" fxLayoutAlign="start center">
              <a href="" class="side-bar-inner-notif-item__text">Новые идеи</a>
            </div>
            <div class="side-bar-inner-notif-item" fxLayout="row" fxLayoutAlign="start center">
              <a href="" class="side-bar-inner-notif-item__text">Поддержка</a>
            </div>
          </div>
          <span class="side-bar-inner-notif__line"></span>
          <div class="side-bar-inner-notif">
            <div class="side-bar-inner-notif-item" fxLayout="row" fxLayoutAlign="start center">
              <a href="" class="side-bar-inner-notif-item__text">Журнал модерации</a>
            </div>
          </div>
        </div>
        <div class="side-bar-inner" *ngIf="!user">
          <app-auth></app-auth>
        </div>
      </mat-sidenav>

      <mat-sidenav-content>
        <div class="side-bar-content" *ngIf="!openSide">

          <div fxLayout="column" fxLayoutAlign="center center">
            <img src="http://legionportal.hol.es/img/left-blockgirl.png" alt="" class="side-bar-avatar__img">
            <mat-icon class="side-bar-content__icon-search__icon" svgIcon="search"></mat-icon>
            <mat-icon class="side-bar-content__icon" (click)="start.toggle(undefined, 'mouse'); handleClickOpen()" svgIcon="menu"></mat-icon>
            <mat-icon class="side-bar-content__icon" svgIcon="compass"></mat-icon>
            <mat-icon class="side-bar-content__icon-shadow__icon side-bar-content__icon--shadow" svgIcon="attention"></mat-icon>
          </div>

        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
