.side-bar {
  &-container {
    width: 40px;
    &--open {
      z-index: 3;
      width: 300px !important;
    }
  }
  &-avatar {
    &__img {
      width: 40px;
      margin-bottom: 15px;
    }
  }
  &-content {
    background-color: #000000 !important;
    min-height: 100%;
    &__icon {
      &:hover {
        cursor: pointer;
      }
      height: 30px !important;
      width: 30px !important;
      margin-bottom: 14px;
      margin-right: 5px;
      color: #ffffff;
      &-search__icon {
        height: 26px !important;
        width: 26px !important;
        color: #ffffff;
        @extend .side-bar-content__icon;
      }
      &-shadow__icon {
        margin-right: -2px !important;
        color: #333333;
        @extend .side-bar-content__icon;
      }
    }
  }
  &-inner {
    background: #3c3c3c;
    &-avatar {
      background: url(../../../assets/img/bcg.png) no-repeat center;
      width: 100%;
      height: 300px;
      background-size: cover;
      &__img {
        margin-top: 20px;
        margin-left: 20px;
        width: 85px;
      }
      &__name {
        margin-top: 5px;
        margin-left: 20px;
        font-size: 37px;
        color: #ffffff;
        display: flex;
        align-items: flex-start;
        &--online {
          width: 11px;
          background: #55b660;
          height: 11px;
          border-radius: 50px;
        }
      }
    }
    &-home {
      background: #000000;
      height: 60px;
      padding-left: 10px;
      &--arrow {
        width: 30px;
        height: 30px;
        color: #ffffff;
        &:hover {
          cursor: pointer;
        }
      }
      &--home {
        width: 45px;
        height: 45px;
        padding-top: 7px;
      }
    }
    &-notif {
      padding-left: 10px;
      &-item {
        margin: 16px 0px 16px 0px;
        &__text {
          color: #ffffff;
          font-size: 20px;
          text-decoration: none;
        }
        &__number {
          margin-right: 9px;
          padding: 4px 7px 3px 7px;
          color: #ffffff;
          font-size: 19px;
          &--msg {
            background: #55b660;
          }
          &--answer {
            background: #f4c531;
          }
          &--news {
            background: #019a98;
          }
        }
      }
      &__line {
        width: 100%;
        height: 1px;
        background: #fff;
        display: block;
      }
    }
  }
}
