.header {
    height: 120px;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &-logo {
        height: 150px;
        width: 150px;
        position: absolute;
        z-index: 10000;
        top: -15px;
        left: 5px;
    }
    &-canvas {
        height: 100%;
        width: 100%;
    }
}