<div class="profile-sidebar">
    <div class="profile-sidebar__conteiner">
        <ul class="profile-sidebar__nav">
            <li class="profile-sidebar__nav-item">
                <button class="profile-sidebar__btn" mat-button [routerLinkActive]="['active']" [routerLink]="['personal']">Профиль</button>
            </li>
            <li class="profile-sidebar__nav-item">
                <button class="profile-sidebar__btn" mat-button [routerLinkActive]="['active']" [routerLink]="['password']">Пароль</button>
            </li>
            <li class="profile-sidebar__nav-item">
                <button class="profile-sidebar__btn" mat-button [routerLinkActive]="['active']" [routerLink]="['security']">Безопасность</button>
            </li>
            <li class="profile-sidebar__nav-item">
                <button class="profile-sidebar__btn" mat-button [routerLinkActive]="['']" [routerLink]="" [swal]="inactive">Уведомления</button>
            </li>
            <li class="profile-sidebar__nav-item">
                <button class="profile-sidebar__btn" mat-button [routerLinkActive]="['']" [routerLink]="" [swal]="inactive">Черный список</button>
            </li>
            <li class="profile-sidebar__nav-item">
                <button class="profile-sidebar__btn" mat-button [routerLinkActive]="['']" [routerLink]="" [swal]="inactive">Приватность</button>
            </li>
        </ul>
        <ul class="profile-sidebar__nav">
            <li class="profile-sidebar__nav-item">
                <button class="profile-sidebar__btn" mat-button [routerLinkActive]="['']" [routerLink]="" [swal]="inactive">Внешний вид сайта</button>
            </li>
            <li class="profile-sidebar__nav-item">
                <button class="profile-sidebar__btn profile-sidebar__btn_primary" mat-button (click)="onProfileSubmit()" [swal]="inactive">Сохранить</button>
            </li>
        </ul>
        <p class="profile-sidebar__copy">WTH &#169; 2018</p>
    </div>
</div>

<swal
  #inactive
  title="Oops!"
  text="This is not implemented yet :/"
  type="error"
  [options]="{footer:'<a href=\ https://github.com/sweetalert2/ngx-sweetalert2 \>Why do I have this issue?</a>'}"
>
</swal>