$sidebarBtnColor: white;
.profile-sidebar {
    display: flex;
    flex-direction: column;
    background-color: #333333;
    width: 100%;
    min-width: 100%;
    height: 100%;

    &__nav{
        margin: 0;
        padding: 0;
        border-top: 5px solid #555555;
        list-style-type:none;
        width: 100%;
        min-width: 100%;

        &:first-child {
            border-top: none;
        }
    }

    &__btn {
        color: $sidebarBtnColor;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 15px;
        width: 100%;

        &_primary{
            background-color: #00a550;
        }

        &.active {
            background-color: rgba(0,0,0,.12);
        }
    }

    &__copy {
        font-size: 9px;
        margin: auto;
        margin-top: 3.125rem;
        margin-bottom: 20px;
        color: #ebebeb;
        text-align: center;
    }
}


