.info {
  display: flex;

  &__icon-wrap {
    width: 14.63rem;
  }

  &__icon {
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}