.small-frame__container {
    &-card {
        padding: 0;
        margin: 10px;
        max-width: 240px;
        background-color: #333333;
        box-shadow: 5px 5px black;
        &-header {
            background-color: #202020;
            color: white;
            min-height: 40px;
            &-title {
                font-size: 20px;
                margin-top: 5px;
            }
        }
    }
}

.small-frame__card-content {
    display: flex;
    flex-direction: column;
    &-img {
        width: 240px!important;
    }
    &-footer {
        display: flex;
        margin-top: 5px;
        color: white;
        font-size: 11px;
        &-rating {
            display: flex;
            mat-icon {
                margin-right: 1px;
            }
        }
        &-statistic {
            display: flex;
            margin-left: 2px;
            color: #f4c430;
            mat-icon {
                margin-right: 1px;
                margin-top: -3px;
            }
        }
        &-comments {
            display: flex;
            margin-left: 2px;
            mat-icon {
                margin-right: 2px;
                margin-top: 3px;
            }
        }
        &-views {
            display: flex;
            margin-left: 2px;
            mat-icon {
                margin-right: 2px;
            }
        }
    }
}

@media (max-width: 320px) {
    .small-frame__container-card {
        margin-left: 0px;
        margin-right: 0px;
    }
}