mat-icon {
    color: #ffffff !important;
}

@mixin info_margin {
    p {
        margin-top: 2px;
        margin-bottom: 2px;
    }
}


.content {
    margin-bottom: 500px;
    background-color: #545454;
    /* &-sidebar {
        min-width: 242px;
        &-title {
            background-color: #202020;
            min-height: 40.5px;
            h4 {
                margin-top: 6px;
                margin-bottom: 6px;
                text-align: center;
                font-size: 24px;
                color: white;
            }
        }
        &-add {
            max-height: 37px;
            button {
                width: 100%;
                background-color: #00a550;
                color: white;
                font-size: 14px;
                mat-icon {
                    height: 20px;
                    width: 20px;
                    margin-bottom: 10px;
                }
            }
        }
        &-rating {
            mat-card {
                background-color: #202020;
                color: white;
                margin: 10px 20px 10px 20px;
                padding: 0;
                min-height: 150px;
                text-align: center;
                box-shadow: 4px 4px black;
                .assessment {
                    h1 {
                        font-size: 80px;
                        display: inline;
                        position: relative;
                        margin: 0;
                        top: 20px;
                    }
                    h3 {
                        font-size: 35px;
                        display: inline;
                        position: relative;
                        margin: 0;
                        top: 20px;
                    }
                    p {
                        margin: 0;
                        font-size: 14px;
                        margin-top: 25px;
                    }
                    
                }
                .rating {
                    font-size: 11px;
                    text-align: start;
                    margin-top: 15px;
                    .imdb {
                        margin: 0;
                        margin-left: 10px !important;
                    }
                    .kinopoisk {
                        margin: 0;
                        margin-left: 10px !important;
                        padding-bottom: 2px !important;
                    }
                }
            }
        }
        &-graphic {
            max-width: 300px;
        }
        &-info {
            color: white;
            margin-left: 5px;
            font-size: 11px;
            &-title {
                background: #202020; 
                background: linear-gradient(to right, #202020, #545454);
                margin-left: -5px !important;
                h4 {
                    margin: 5px 0px 5px 5px;
                    font-size: 14px;
                }
            }
            &-type {
                @include info_margin;
            }
            &-year {
                @include info_margin;
            }
            &-release {
                @include info_margin;
            }
            &-country {
                @include info_margin;
            }
            &-series {
                @include info_margin;
            }
            &-duration {
                @include info_margin;
                margin-bottom: 15px;
            }
            &-russian__title {
                @include info_margin;
            }
            &-english__title {
                @include info_margin;
            }
            &-japanese__title {
                @include info_margin;
                margin-bottom: 15px;
            }
            &-producer {
                @include info_margin;
            }
            &-screenwriter {
                @include info_margin;
            }
            &-tag {
                @include info_margin;
            }
            &-budget {
                @include info_margin;
            }

        }
    } */
    &-main {
        &-headbar {
            min-height: 40.5px;
            background-color: rgba(0, 0, 0, 0.476);
            color: white;
            z-index: 2;
            &-rating {
                mat-icon {
                    margin: 1px 10px 0px 15px;
                    height: 40px;
                    width: 40px;
                }
                &-info {
                    p {
                        margin: 0;
                        margin-top: -2px !important;
                        font-size: 12px;
                    }
                    span {
                        margin-top: -7px !important;
                        font-size: 16px;
                        i {
                            font-size: 11px;
                        }
                    }
                }
                
            }
            &-favorites {
                margin-left: 50px;
                mat-icon {
                    margin: 1px 10px 0px 0px;
                    height: 40px;
                    width: 40px;
                }
                &-info {
                    p {
                        margin: 0;                        
                        margin-top: -2px !important;
                        font-size: 12px;
                    }
                    span {
                        margin-top: -7px !important;
                        font-size: 16px;
                    }
                }
            }
        }
        &-slider {
            margin-top: -40.5px;
            height: 100%;
            width: 100%;
            max-height: 350px;
            z-index: 0;
            min-height: 300px;
        }
        &-description {
            color: white;
            &-cover_slider {
                z-index: 2;
                box-shadow: 4px 4px black;
                margin-top: -80px;
                max-height: 500px;
                min-height: 500px;
                max-width: 350px;
                .content-main-slider-stars {
                    margin: 0 !important;
                    background-color: #202020;
                    min-height: 55px;
                    margin: 10px 10px;
                    box-shadow: 4px 4px black;
                }
            }
            &-text {
                &-title {
                    h4 {
                        text-align: center;
                        margin: auto;
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                }
                &-substr {
                    margin-top: 15px;
                    &-add {
                        mat-icon {
                            margin: 7px 10px 10px 15px;
                            height: 20px;
                            width: 20px;
                        }
                        button {
                            background-color: #00a550;
                            color: #ffffff;
                            max-height: 35px;
                            width: 110px;
                        }
                    }
                    &-favorites {
                        mat-icon {
                            margin: 5px 5px 10px 13px;
                        }
                        button {
                            background-color: #00a550;
                            color: #ffffff;
                            max-height: 35px;
                            width: 110px;
                            margin-left: 3px;
                        }
                        span {
                            margin-left: 5px;
                            margin-top: 8px;
                            color: white;
                        }
                    }
                    &-language {
                        mat-icon {
                            height: 40px;
                            width: 40px;
                            margin: 8px 10px 10px 10px;
                            cursor: pointer;
                        }
                    }
                }
                &-article {
                    margin: 0px 10px 0px;
                    font-size: 14px;
                    article {
                        .first_paragraph {
                            margin-top: 0px;
                            span {
                                color: #bfbfbf;
                            }
                        }
                        .second_paragraph {
                            margin-bottom: 400px;
                        }
                    }
                }
            }
        }

    }
}

@media screen and (max-width: 1279px) {
    .content-main-description-text-title {
        margin-top: 60px;
    }
    .content-main-description-cover_slider {
        margin-top: 20px !important;
        min-height: 500px;
        min-width: 300px;
        margin: auto;
    }
}

@media screen and (max-width: 370px) {
    .content-main-description-cover_slider {
        min-width: 245px;
    }
}

@media screen and (max-width: 600px) {
    .content-main-description-text-substr-favorites {
        margin-top: 10px;
    }
}