<div
  class="content"
  fxLayout
  fxLayout.xs="column">
  <app-content-sidebar>
    <div sidebar-title>Аниме</div>
    <div assessment-integer>7</div>
    <div assessment-fractional>.67</div>
    <div assessment-title>Средняя оценка</div>
    <div imdb-rating>8.20</div>
    <div kinopoisk-rating>7.22</div>
    <div info-title>Информация</div>
    <div info-type>Сериал</div>
    <div info-year>2014</div>
    <div info-release>11.07.2014</div>
    <div info-country>Япония</div>
    <div info-series>12</div>
    <div info-duration></div>
    <div info-russian-title>Персона 4: Золотое издание</div>
    <div info-english-title>Person 4: Gold Edition</div>
    <div info-japanese-title>人4.ゴールドエディション</div>
    <div info-producer>Киси Сейдзи</div>
    <div info-screenwriter>Хасино Кацура</div>
    <div info-tag>Нет</div>
    <div info-budget>90 000 000 000 $</div>
  </app-content-sidebar>
  <div
    class="content-main"
    fxFlex="80%"
    fxLayout="column">
    <div
      class="content-main-headbar"
      fxLayout
      fxLayout.xs="column"
      fxLayoutAlign="start none">
      <div fxLayout class="content-main-headbar-rating">
        <mat-icon matSuffix svgIcon="compass"></mat-icon>
        <div class="content-main-headbar-rating-info">
          <p>Рейтинг</p>
          <span><i>#</i> 132</span>
        </div>
      </div>
      <div fxLayout class="content-main-headbar-favorites">
        <mat-icon matSuffix svgIcon="star"></mat-icon>
        <div class="content-main-headbar-favorites-info">
          <p>Избранное</p>
          <span>13232</span>
        </div>
      </div>
    </div>
    <div class="content-main-slider" style="background-color:slateblue;">
      <app-content-slider [contentData]="mainSliderImg"></app-content-slider>
    </div>
    <div 
      class="content-main-description"
      fxLayout
      fxLayout.xs="column"
      fxLayout.sm="column"
      fxLayout.md="column">
      <div fxFlex class="content-main-description-cover_slider">
          <app-cover-slider [coverData]="coverSliderImg"></app-cover-slider>
        <div class="content-main-slider-stars" fxLayout fxLayoutAlign="space-around none">
            <mat-icon class="first_star" matSuffix svgIcon="star"></mat-icon>
            <mat-icon class="second_star" matSuffix svgIcon="star"></mat-icon>
            <mat-icon class="third_star" matSuffix svgIcon="star"></mat-icon>
            <mat-icon class="fourth_star" matSuffix svgIcon="star"></mat-icon>
            <mat-icon class="fifth_star" matSuffix svgIcon="star"></mat-icon>
        </div>
      </div>
      <div fxFlex="70%" fxLayout="column" class="content-main-description-text">
        <div class="content-main-description-text-title" fxLayout>
          <h4>
            Персона 4 Golden/ Persona 4 The Golden Animation
          </h4>
          <mat-icon></mat-icon>
        </div>
        <div class="content-main-description-text-substr" fxLayout fxLayout.xs="column" fxLayoutAlign="start none">
          <div fxFlex="initial" class="content-main-description-text-substr-add" fxLayout>
            <mat-icon svgIcon="archive"></mat-icon>
            <button mat-raised-button>Добавить</button>
          </div>
          <div fxFlex="80" class="content-main-description-text-substr-favorites" fxLayout>
            <mat-icon svgIcon="star"></mat-icon>
            <button mat-raised-button>Избранное</button>
            <span>2/50</span>
          </div>
          <div fxFlex class="content-main-description-text-substr-language">
            <mat-icon matSuffix svgIcon="ru_flag"></mat-icon>
          </div>
        </div>
        <div fxLayout fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column" class="content-main-description-text-article">
          <article>
            <p class="first_paragraph">
              <span>Описание:</span>
              Добро пожаловать в Бархатную комнату.
              Она находится между сном и реальностью, и лишь заключившие контракт могут туда попасть.
              Похоже, Вам предстоит занятное путешествие.</p>
            <p class="second_paragraph">Из-за новой работы родителей за границей Ю Наруками вынужден на целый год переехать из мегаполиса в маленький городок, жить у младшего брата матери с его мелкой дочуркой и ходить в новую школу с придурковатым учителем.
              Скучная жизнь, но пережить можно. Вот только сразу после переезда в городе происходит убийство телеведущей, а помимо этого по школе ходят слухи о полуночной программе, которую можно увидеть ровно в полночь, если будешь один во время дождя...
              И время от времени Ю преследуют какие-то видения...
              Чтобы отвлечься, он решает проверить школьную легенду, и его чуть не засасывает в телевизор!
              После он рассказывает об этом одноклассникам Ханамуре и Сатонаке.
              Они идут в торговый центр, и по неосторожности их действительно засасывает туда непонятно куда...
              В мир, который буквально кишит тенями, и явно недружелюбными.
              Однако голос внутри главного героя твердит: «Я — это Ты, а Ты — это Я», и в момент, когда тени настигают беглецов, происходит нечто, и за спиной Ю появляется некая огромная фигура, которой он может управлять, как самим собой.</p>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>