:host {
    height: 100%;
}

.main {
    display: flex;
    flex-wrap: wrap;
    background-color: #545454;
    &__side-content-menu {
        flex: 0 0 240px;
    }
    &__content {
        width: 100%;
        display: flex;
        flex: 1;
        &-card-large {
            display: flex;
            flex-wrap: wrap;
        }
        &-card-small {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &-card-list {
            display: flex;
            flex-wrap: wrap;
            &-frame {
                flex: 1 1 100%;
                max-width: 50%;
                margin-bottom: 20px;
            }
        }
        .description_font-size {
            font-size: 14px;
        }
    }    
}

@media (max-width: 844px) {
    .main__content-card-list-frame {
        min-width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 560px) {
    .main__content-card-small {
        justify-content: center;
    }
}

@media (max-width: 815px) {
    .main__side-content-menu {
        flex: 0 0 100%;
    }
}