.list-frame__container {
    margin-right: 10px;
    &-card {
        padding: 0;
        margin: 10px;
        background-color: #333333;
        box-shadow: 5px 5px black;
    }
    &-card-header {
        background-color: #202020;
        color: white;
        min-height: 40px;
        &-title {
            font-size: 20px;
            margin-top: 5px;
        }
    }
}

.list-frame__card-content {
    display: flex;
    &-main {
        display: flex;
        flex-direction: column;
    }
    &-img {
        min-width: 240px!important;
    }
    &-article {
        margin-top: 20px;
        margin-left: 20px;
        padding-right: 20px;
        color: white;
    }
}

.list-frame__card-footer {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    color: white;
    font-size: 12px;
    .footer-info {
        display: flex;
        margin-left: 10px;
    }
    &-rating {
        .icon {
            margin-right: 2px;
        }
    }
    &-statistic {
        color: #f4c430;
        .icon {
            margin-right: 2px;
            margin-top: -3px;
        }
    }
    &-comments {
        .icon {
            margin-right: 2px;
            margin-top: 3px;
        }
    }
    &-views {
        .icon {
            margin-right: 2px;
        }
    }
}

@media (max-width: 1100px) {
    .list-frame__card-content {
        display: flex;
        flex-direction: column;
    }

    .list-frame__card-content-img {
        margin: auto;
    }
}

@media (max-width: 918px) {
    .list-frame__card-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 310px) {
    .list-frame__container-card {
        margin: 0;
        box-shadow: none;
    }
}
