<div class="list-frame__container">
  <mat-card class="list-frame__container-card">
    <mat-card-header class="list-frame__container-card-header">
      <div class="list-frame__container-card-header-title">
        <ng-content select="[title]"></ng-content>
      </div>
    </mat-card-header>
    <mat-card-content class="list-frame__card-content">
      <div class="list-frame__card-content-img">
        <ng-content select="[img]"></ng-content>
      </div>
      <div class="list-frame__card-content-main">
        <div class="list-frame__card-content-article">
          <ng-content select="[article]"></ng-content>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="list-frame__card-footer">
      <div class="list-frame__card-footer-rating footer-info">
        <mat-icon class="icon" matSuffix svgIcon="fire"></mat-icon>
        <ng-content select="[footer-rating]"></ng-content>
      </div>
      <div class="list-frame__card-footer-statistic footer-info">
        <mat-icon class="icon" matSuffix svgIcon="stats-bars"></mat-icon>
        <ng-content select="[footer-statistic]"></ng-content>
      </div>
      <div class="list-frame__card-footer-comments footer-info">
        <mat-icon class="icon" matSuffix svgIcon="message_digital"></mat-icon>
        <ng-content select="[footer-comments]"></ng-content>
      </div>
      <div class="list-frame__card-footer-views footer-info">
        <mat-icon class="icon" matSuffix svgIcon="eye"></mat-icon>
        <ng-content select="[footer-views]"></ng-content>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
