@import url('https://cdn.rawgit.com/resir014/Clear-Sans-Webfont/v1.1.1/css/clear-sans.css');
@import url('http://allfont.net/allfont.css?fonts=caviar-dreams');

html,
body {
  margin: 0;
  height: 100%;
}
.mat-drawer.mat-drawer-side {
  z-index: 2;
  width: 300px;
}
.mat-drawer-container {
  background-color: #111111;
  height: 100%;
  position: absolute !important;
}
svg {
  color: #fff;
}
.side-bar-content__icon--shadow {
  svg {
    color: #545454 !important;
  }
}
.mat-drawer.mat-drawer-side {
  background: #3c3c3c;
}
.example-form {
  .mat-form-field-flex {
    display: inline-flex;
    align-items: baseline;
    width: 100%;
    flex-direction: row-reverse;
  }
  .mat-form-field-suffix .mat-icon {
    color: #fff;
  }
  .mat-form-field-infix {
    padding-top: 10px;
    padding-left: 7px;
  }
}


/* Input colors */
.mat-input-placeholder {
  color: #ffffff !important;
}

input {
  color: white !important;
}

.mat-input-underline{
  border-bottom: 1px solid #ffffff;
}

.mat-select-arrow {
  color: white !important;
}
/* //////////// */

mat-card.mat-card {
  background-color: #363636;

  .mat-card-title {
    color: #fff;
  }
}
