<div
  class="main"
  fxLayout
  fxLayout.xs="column">
  <div
    class="main-sidebar"
    fxLayout="column"
    >
    <div class="main-sidebar-avatar">
      <img src="http://legionportal.hol.es/img/left-blockgirl.png" alt="avatar" width="100%" height="270px">
    </div>
    <div class="main-sidebar-buttons" fxLayout="column">
      <div class="main-sidebar-buttons-row_1">
        <button mat-raised-button fxFlex="100%">
          <mat-icon matSuffix svgIcon="user-add"></mat-icon>Добавить
        </button>
      </div>
      <div class="main-sidebar-buttons-row_2" fxLayout>
        <a class="main-sidebar-buttons-row_2-icon_1">
            <mat-icon matSuffix svgIcon="message"></mat-icon>
        </a>
        <a class="main-sidebar-buttons-row_2-icon_2">
            <mat-icon matSuffix svgIcon="eye-blocked"></mat-icon>
        </a>
      </div>
      <mat-card class="main-sidebar-buttons-card">
          <div class="main-sidebar-buttons-card-row_3">
            <button mat-button fxFlex="100%">
              <mat-icon matSuffix svgIcon="envelope"></mat-icon>Сообщения
            </button>
          </div>
          <div class="main-sidebar-buttons-card-row_4">
            <button mat-button fxFlex="100%">
              <mat-icon matSuffix svgIcon="chart"></mat-icon>Статистика
            </button>
          </div>
          <div class="main-sidebar-buttons-card-row_5">
            <button mat-button fxFlex="100%">
              <mat-icon matSuffix svgIcon="tweaks"></mat-icon>Настройки
            </button>
          </div>
      </mat-card>
    </div>

    <div
      class="main-sidebar-users">
      <mat-card class="main-sidebar-users-card" fxLayout="column">
          <div class="main-sidebar-users-card-friends" fxLayout>
            <mat-icon matSuffix svgIcon="users"></mat-icon>
            <p>53545454</p>
          </div>
          <div class="main-sidebar-users-card-subs" fxLayout>
            <mat-icon matSuffix svgIcon="users"></mat-icon>
            <p>535454</p>
          </div>
          <div class="main-sidebar-users-card-icons">
            <div class="main-sidebar-users-card-icons-wrapper" fxLayout fxLayoutWrap>
              <div class="element">
                <img src="http://legionportal.hol.es/img/left-blockgirl.png" alt="">
              </div>
              <div class="element">
                <img src="http://legionportal.hol.es/img/left-blockgirl.png" alt="">
              </div>
              <div class="element">
                <img src="http://legionportal.hol.es/img/left-blockgirl.png" alt="">
              </div>
              <div class="element">
                <img src="http://legionportal.hol.es/img/left-blockgirl.png" alt="">
              </div>
              <div class="element">
                <img src="http://legionportal.hol.es/img/left-blockgirl.png" alt="">
              </div>
              <div class="element">
                <img src="http://legionportal.hol.es/img/left-blockgirl.png" alt="">
              </div>
              <div class="element">
                <img src="http://legionportal.hol.es/img/left-blockgirl.png" alt="">
              </div>
              <div class="element">
                <img src="http://legionportal.hol.es/img/left-blockgirl.png" alt="">
              </div>
              <div class="element">
                <img src="http://legionportal.hol.es/img/left-blockgirl.png" alt="">
              </div>
            </div>
          </div>
          <div class="main-sidebar-users-card-best">
            <div class="main-sidebar-users-card-best-title">
              <h4>Лучшие</h4>
            </div>
            <div class="main-sidebar-users-card-best-wrapper" fxLayout fxLayoutWrap>
              <div class="element">
                <img src="http://legionportal.hol.es/img/left-blockgirl.png" alt="">
              </div>
              <div class="element">
                <img src="http://legionportal.hol.es/img/left-blockgirl.png" alt="">
              </div>
              <div class="element">
                <img src="http://legionportal.hol.es/img/left-blockgirl.png" alt="">
              </div>
            </div>
          </div>
          <div class="main-sidebar-users-card-work">
            <div class="main-sidebar-users-card-work-title">
              <h4>Работа</h4>
            </div>
            <div class="main-sidebar-users-card-work-wrapper" fxLayout fxLayoutWrap>
              <div class="element">
                <img src="http://legionportal.hol.es/img/left-blockgirl.png" alt="">
              </div>
              <div class="element">
                <img src="http://legionportal.hol.es/img/left-blockgirl.png" alt="">
              </div>
              <div class="element">
                <img src="http://legionportal.hol.es/img/left-blockgirl.png" alt="">
              </div>
            </div>
          </div>
          <div class="main-sidebar-users-card-online">
            <div class="main-sidebar-users-card-online-title">
              <h4>Online</h4>
            </div>
            <div class="main-sidebar-users-card-online-wrapper" fxLayout fxLayoutWrap>
              <div class="element">
                <img src="http://legionportal.hol.es/img/left-blockgirl.png" alt="">
              </div>
              <div class="element">
                <img src="http://legionportal.hol.es/img/left-blockgirl.png" alt="">
              </div>
              <div class="element">
                <img src="http://legionportal.hol.es/img/left-blockgirl.png" alt="">
              </div>
            </div>
          </div>
      </mat-card>
    </div>
    <span>WTH &#169; 2018</span>
  </div>
  <div
    class="main-info"
    fxLayout="column"
    fxFlex="85%">
    <div
      class="main-info-headbar"
      fxLayout="row"
      fxLayout.sm="column"
      fxLayout.xs="column">
      <div fxFlex="30%" class="main-info-headbar-status" fxLayout="column">
        <div class="main-info-headbar-status-nickname">
          <h1>Kilovat <sup>Online</sup></h1>
        </div>
        <div class="main-info-headbar-status-name">
          <h3>Александр Туманов</h3>
        </div>
        <div class="main-info-headbar-status-role">
          <button mat-raised-button>Administration</button>
        </div>
        <div class="main-info-headbar-status-additional">
          <h4>муж \ 40 \ Беларусь \ Минск</h4>
        </div>
      </div>
      <div
        class="main-info-headbar-charts_polar"
        fxLayout
        fxLayout.md="column"
        fxLayout.sm="column"
        fxLayout.xs="column"> 
        <app-d3-sunburst fxFlex="40%"></app-d3-sunburst>
        <app-d3-sunburst fxFlex="30%"></app-d3-sunburst>
        <app-d3-sunburst fxFlex="30%"></app-d3-sunburst>
      </div>
    </div>
    <div class="main-info-primary_charts">
      <div class="main-info-primary_charts-filmes">
          <app-d3-bullet class="bullet_chart"></app-d3-bullet>
      </div>
      <div class="main-info-primary_charts-anime">
          <app-d3-bullet class="bullet_chart"></app-d3-bullet>
      </div>
      <div class="main-info-primary_charts-cartoons">
          <app-d3-bullet class="bullet_chart"></app-d3-bullet>
      </div>
      <div
        class="main-info-primary_charts-legend_films"
        fxLayout
        fxLayout.xs="column"
        fxLayout.sm="column"
        fxLayout.md="column"
        fxLayoutAlign="space-between none">
        <div class="planned">
          <p>Запланировано <span>115 <div class="square" style="background-color: #271c3e;"></div></span></p>
        </div>
        <div class="watch">
          <p>Смотрю <span>107 <div class="square" style="background-color:#0ebeff;"></div></span></p>
        </div>
        <div class="watched">
          <p>Просмотрено <span>367 <div class="square" style="background-color:#019a99;"></div></span></p>
        </div>
        <div class="reviewing">
          <p>Пересматриваю <span>78 <div class="square" style="background-color:#ae63e4;"></div></span></p>
        </div>
        <div class="dropped">
          <p>Брошено <span>1 <div class="square" style="background-color:#000000;"></div></span></p>
        </div>
        <div class="advised">
          <p>Посоветовали <span>13 <div class="square" style="background-color:#333333;"></div></span></p>
        </div>
        <div class="snoozed">
          <p>Отложено <span>34 <div class="square" style="background-color:#ebebeb;"></div></span></p>
        </div>
      </div>
      <div class="main-info-primary_charts-comics">
          <app-d3-bullet class="bullet_chart"></app-d3-bullet>
      </div>
      <div
        class="main-info-primary_charts-legend_comics"
        fxLayout
        fxLayout.xs="column"
        fxLayout.sm="column"
        fxLayout.md="column"
        fxLayoutAlign="space-between none">
        <div class="planned">
          <p>Запланировано <span>115 <div class="square" style="background-color:#271c3e;"></div></span></p>
        </div>
        <div class="watch">
          <p>Читаю <span>6 <div class="square" style="background-color:#0ebeff;"></div></span></p>
        </div>
        <div class="watched">
          <p>Прочитано <span>5 <div class="square" style="background-color:#019a99;"></div></span></p>
        </div>
        <div class="reviewing">
          <p>Перечитываю <span>24 <div class="square" style="background-color:#ae63e4;"></div></span></p>
        </div>
        <div class="dropped">
          <p>Брошено <span>1 <div class="square" style="background-color:#000000;"></div></span></p>
        </div>
        <div class="advised">
          <p>Посоветовали <span>13 <div class="square" style="background-color:#333333;"></div></span></p>
        </div>
        <div class="snoozed">
          <p>Отложено <span>42 <div class="square" style="background-color:#ebebeb;"></div></span></p>
        </div>
      </div>
      <div class="main-info-primary_charts-literature">
          <app-d3-bullet class="bullet_chart"></app-d3-bullet>
      </div>
      <div
        class="main-info-primary_charts-legend_literature"
        fxLayout
        fxLayout.xs="column"
        fxLayout.sm="column"
        fxLayout.md="column"
        fxLayoutAlign="space-between none">
        <div class="planned">
          <p>Запланировано <span>115 <div class="square" style="background-color:#271c3e;"></div></span></p>
        </div>
        <div class="watch">
          <p>Читаю <span>6 <div class="square" style="background-color:#0ebeff;"></div></span></p>
        </div>
        <div class="watched">
          <p>Прочитано <span>5 <div class="square" style="background-color:#019a99;"></div></span></p>
        </div>
        <div class="reviewing">
          <p>Перечитываю <span>24 <div class="square" style="background-color:#ae63e4;"></div></span></p>
        </div>
        <div class="dropped">
          <p>Брошено <span>1 <div class="square" style="background-color:#000000;"></div></span></p>
        </div>
        <div class="advised">
          <p>Посоветовали <span>13 <div class="square" style="background-color:#333333;"></div></span></p>
        </div>
        <div class="snoozed">
          <p>Отложено <span>42 <div class="square" style="background-color:#ebebeb;"></div></span></p>
        </div>
      </div>
      <div class="main-info-primary_charts-games">
          <app-d3-bullet class="bullet_chart"></app-d3-bullet>
      </div>
      <div
        class="main-info-primary_charts-legend_games"
        fxLayout
        fxLayout.xs="column"
        fxLayout.sm="column"
        fxLayout.md="column"
        fxLayoutAlign="space-between none">
        <div class="planned">
          <p>Запланировано <span>4 <div class="square" style="background-color:#271c3e;"></div></span></p>
        </div>
        <div class="watch">
          <p>Играю <span>6 <div class="square" style="background-color:#0ebeff;"></div></span></p>
        </div>
        <div class="watched">
          <p>Играл <span>5 <div class="square" style="background-color:#019a99;"></div></span></p>
        </div>
        <div class="dropped">
          <p>Брошено <span>1 <div class="square" style="background-color:#000000;"></div></span></p>
        </div>
        <div class="advised">
          <p>Посоветовали <span>13 <div class="square" style="background-color:#333333;"></div></span></p>
        </div>
      </div>
    </div>
    <div class="main-info-about">
      <div class="main-info-about-title">
        <h1>О себе</h1>
      </div>
      <article class="main-info-about-article">
        <p> Хабрахабр основан в 2006 году. Издателем проекта является компания «Тематические Медиа».</p>
        <p>Аудитория проекта — прогрессивно мыслящие люди, интересующиеся будущим IT-рынка в целом и интернет-экономики в частности. Хабрахабр будет одинаково интересен программистам и журналистам, рекламщикам и верстальщикам, аналитикам и копирайтерам, менеджерам высшего и среднего звена, владельцам крупных компаний и небольших фирм, а также всем тем, для кого IT — это не просто две буквы алфавита.</p>
      </article>
    </div>
    <div class="main-info-table">
      <div class="main-info-table-title">
        <h1>Список аниме <span>1314</span></h1>
      </div>
      <div class="main-info-table-table_list">
        <div class="example-container">
          <div class="example-header">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>
        
            <mat-table #table [dataSource]="dataSource" matSort>
              <!-- Position Column -->
              <ng-container matColumnDef="number">
                <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.number}} </mat-cell>
              </ng-container>
            
              <!-- Upload Date Column -->
              <ng-container matColumnDef="uploadDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Upload Date </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.uploadDate}} </mat-cell>
              </ng-container>
          
              <!-- Update Date Column -->
              <ng-container matColumnDef="updateDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Update date </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.updateDate}} </mat-cell>
              </ng-container>
            
              <!-- Evaluation Column -->
              <ng-container matColumnDef="evaluation">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Evaluation </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.evaluation}} </mat-cell>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
              </ng-container>

              <!-- Episodes Column -->
              <ng-container matColumnDef="episodes">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Episodes </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.episodes}} </mat-cell>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
              </ng-container>
          
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>            
      </div>
    </div>
  </div>
</div>
