@mixin sidebar_miniavatars_position {
    &-wrapper {
        .element {
            display: inline-block;
            img {
                margin: 5px;
                height: 50px;
                width: 50px;
            }
        }
    }
}


.main {
    background-color: #545454;
    &-sidebar {
        min-width: 200px;
        max-width: 200px;
        &-avatar {}
        &-buttons {
            &-row_1 {
                margin: 10px 0px;
                button {
                    background-color: #00a550;
                    color: white;
                    mat-icon {
                        margin-right: 5px;
                    }
                }
            }
            &-row_2 {
                &-icon_1 {
                    color: white;
                    margin: 3px 10px 0px 5px;
                    cursor: pointer;
                }
                &-icon_2 {
                    color: white;
                    cursor: pointer;
                }
                margin-bottom: 5px;
            }
            &-card {
                padding: 0;
                padding-top: 10px;
                background-color: #202020;
                margin-bottom: 20px;
                &-row_3 {
                    button {
                        color: white;
                        margin-bottom: 10px;
                        mat-icon {
                            margin-right: 5px;
                        }
                    }
                }
                &-row_4 {
                    button {
                        color: white;
                        margin-bottom: 10px;
                        mat-icon {
                            margin-right: 5px;
                        }
                    }
                }
                &-row_5 {
                    button {
                        color: white;
                        margin-bottom: 10px;
                        mat-icon {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        &-users {
            &-card {
                padding: 15px 0px;
                background-color: #202020;
                margin-bottom: 20px;
                &-friends {
                    margin: auto;
                    color: white;
                    font-size: 18px;
                    margin-bottom: 5px;
                    mat-icon {
                        margin-right: 5px;
                    }
                }
                &-subs {
                    margin: auto;
                    color: white;
                    font-size: 18px;
                    margin-bottom: 5px;
                    mat-icon {
                        margin-right: 5px;
                    }
                }
                &-icons {
                    padding-left: 8px;
                    @include sidebar_miniavatars_position;
                }
                &-best {
                    padding-left: 8px;
                    @include sidebar_miniavatars_position;
                    &-title {
                        background: #202020;
                        background: linear-gradient(to right, #202020, #2d33e2);
                        color: #ffffff;
                    }
                }
                &-work {
                    padding-left: 8px;
                    @include sidebar_miniavatars_position;
                    &-title {
                        background: #202020;
                        background: linear-gradient(to right, #202020, #cf2d2d);
                        color: #ffffff;
                    }
                }
                &-online {
                    padding-left: 8px;
                    @include sidebar_miniavatars_position;
                    &-title {
                        background: #202020;
                        background: linear-gradient(to right, #202020, #545454);
                        color: #ffffff;
                    }
                }
            }
           
        }
        span {
            font-size: 11px;
            margin: auto;
            margin-top: 15px !important;
            margin-bottom: 30px !important;
            color: white
        }
    }
    &-info {
        &-headbar {
            &-status {
                margin: 20px 5px 5px 50px;
                color: #ffffff;
                &-nickname {
                    margin-left: 10px;
                    h1 {
                        margin-bottom: 5px;
                        sup {
                            font-size: 12px;
                        }
                    }
                }
                &-name {
                    margin-left: 10px;
                    h3 {
                        margin-bottom: 5px;
                    }
                }
                &-role {
                    margin-bottom: 5px;
                    max-width: 300px;
                    button {
                        color: white;
                        width: 100%;
                        min-width: 150px;
                        background-color: #00a550;
                        box-shadow: 4px 4px #006732;
                    }
                }
                &-additional {}
            }
            &-charts_polar {}
        }
        &-primary_charts {
            width: 100%;
            margin-bottom: 20px;
            margin-top: 10px;
            &-filmes {}
            &-anime {}
            &-cartoons {
                margin-bottom: 3px;
            }
            &-legend_films {
                margin-left: 40px;
                margin-right: 100px;
                margin-bottom: 20px;
                color: #ffffff;
                font-size: 12px;
                div {
                    display: inline-block;
                }
            }
            &-comics {
            }
            &-legend_comics {
                margin-left: 40px;
                margin-right: 150px;
                margin-bottom: 5px;
                color: #ffffff;
                font-size: 12px;
                div {
                    display: inline-block;
                }
            }
            &-literature {
                width: 100%;
            }
            &-legend_literature {
                margin-left: 40px;
                margin-right: 150px;
                margin-bottom: 5px;
                color: #ffffff;
                font-size: 12px;
                div {
                    display: inline-block;
                }
            }
            &-games {}
            &-legend_games {
                margin-left: 40px;
                margin-right: 420px;
                margin-bottom: 5px;
                color: #ffffff;
                font-size: 12px;
                div {
                    display: inline-block;
                }
            }
        }
        &-about {
            &-title {
                background: #202020;
                background: linear-gradient(to right, #202020, #545454);
                color: #bfbfbf;
                margin-left: 10px;
                padding-top: 3px;
                padding-bottom: 3px;
                h1 {
                    margin: 0;
                    margin-left: 12px;
                }
            }
            &-article {
                margin: 10px 30px;
                color: #ffffff;
            }
        }
        &-table {
            &-title {
                background: #202020;
                background: linear-gradient(to right, #202020, #545454);
                color: #bfbfbf;
                margin-left: 10px;
                padding-top: 3px;
                padding-bottom: 3px;
                h1 {
                    margin: 0;
                    margin-left: 12px;
                    span {
                        color: #ffffff;
                    }
                }
            }
            &-table_list {
                /* Structure */
                .example-container {
                    margin: 20px 20px;
                    display: flex;
                    flex-direction: column;
                    min-width: 300px;
                }
                
                .example-header {
                    min-height: 64px;
                    padding: 8px 24px 0;
                }
                
                .mat-form-field {
                    font-size: 14px;
                    width: 100%;
                }
                
                .mat-table {
                    overflow: auto;
                    max-height: 500px;
                    background: #545454;
                    mat-header-row {
                        mat-header-cell {
                            color: #ffffff;
                        }
                    }
                    mat-row {
                        mat-cell {
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
}

.square {
    width: 10px;
    height: 10px;
    margin-bottom: -1px;
    margin-left: 5px;
}

@media screen and (max-width: 370px) {
    .main-info-primary_charts {
        width: 300px;
    }
}

@media screen and (max-width: 600px) and (min-width: 370px) {
    .main-info-primary_charts {
        width: 500px;
    }
}