.container {
    &-uploader {
        &-title {
            h6 {
                color: white;
                margin-top: 0px;
                margin-bottom: 15px;
            }
        }
        &-file_select {
            border: 3px dashed white;
            padding-top: 20px;
            &-input {
                margin: 0px 0px 20px 20px;
            }
            &-text {
                margin-left: 10px;
                margin-top: 20px;
                h6 {
                    color: white;
                    margin-top: 5px;
                    margin-bottom: 0px;
                }
                p {
                    color: white;
                    font-size: 10px;
                    margin-top: 5px
                }
            }
        }
    }
    &-cropper {
        &-crop {
            angular-cropper {}
        }
        &-buttons {
            &-btn_save {
                margin: 15px 10px 5px 10px;
                color: white;
                background-color: #202020;
            }
            &-btn_cancel {
                margin: 15px 10px 5px 10px;
                color: white;
                background-color: #202020;
            }
            &-icon_left {
                margin: 15px 10px 5px 33px;
                color: white;
            }
            &-icon_right {
                margin: 15px 10px 5px 10px;
                color: white;
            }
        }
    }
}
