<div
  class="container"
  fxLayout="column"
  fxLayout.xs="column"
  fxLayout.sm="column"
  fxLayout.md="column"
  fxLayoutAlign="space-between none">
    <div 
      class="container-uploader"
      *ngIf="uploaderShow"
      fxLayout="column"
      fxLayout.xs="column"
      fxLayout.sm="column"
      fxLayout.md="column"
      fxLayoutAlign="space-between none">
      <div class="container-uploader-title">
        <h6>Загрузка новой фотографии</h6>
      </div>
      <div
        class="container-uploader-file_select"
        appDragDrop
        (filesDropEmiter)="onChange($event)"
        fxLayout="column"
        fxLayout.xs="column"
        fxLayout.sm="column"
        fxLayoutAlign="space-around none">
        <div class="container-uploader-file_select-input">
          <app-button (click)="fileInput.click()" [title]="'Выбрать файл'" [type]="'secondary'"></app-button>
          <input
          #fileInput
          class="inputFile"
          (change)="onChange($event)"
          style="visibility: hidden; max-width: 100px;"
          type="file">
        </div>
        <div class="container-uploader-file_select-text">
          <h6>Загрузка новой фотографии</h6>
          <p>Вы можете загрузить изображение в формате JPG, GIF или PNG</p>
        </div>
      </div>
    </div>

    <div
      class="container-cropper"
     *ngIf="!uploaderShow"
      fxLayout="column"
      fxLayout.xs="column"
      fxLayout.sm="column"
      fxLayout.md="column"
      fxLayoutAlign="space-between none">
      <div>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
      </div>
      <div class="container-cropper-crop">
        <angular-cropper 
          #angularCropper
          [cropperOptions]="cropperOptions"
          [imageUrl]=imageUrl>
        </angular-cropper>
      </div>
      <div class="container-cropper-buttons" 
        fxLayout
        fxLayoutAlign="space-between none" 
        fxLayout.xs="column"
        fxLayout.sm="column"
        fxLayout.md="column">
        <div class="container-cropper-buttons-btn">
          <button class="container-cropper-buttons-btn_save" mat-raised-button (click)="onSave()">Сохранить</button>
        <button class="container-cropper-buttons-btn_cancel" mat-raised-button (click)="reset()">Отменить</button>
        </div>
        <div class="container-cropper-buttons-icon">
          <button class="container-cropper-buttons-icon_left" mat-button (click)="rotate('left')"><mat-icon (click)="rotate('left')">rotate_left</mat-icon></button>
          <button class="container-cropper-buttons-icon_right" mat-button (click)="rotate('right')"><mat-icon (click)="rotate('right')">rotate_right</mat-icon></button>
        </div>
      </div>
    </div>
</div>
